<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "Mountains" connectionString = "Server = DESKTOP-D0R3GUD\SQLEXPRESS2020;Database= Mountains;Trusted_Connection = True;" providerName ="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>